:root {
    background: #001d39;
}
.container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 40vh;
    justify-content: baseline;
    align-items: center;
    color: #6ea2b3;
}
div {
    display: flex;
    justify-content: center;
    
    width: 60%;
    gap: 5px;
}
#grocery {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 35%;
}
h1 {
    color: #4e8ea2;
    font-size: 3rem;
}
#btn {
    border-radius: 6px;
    padding: 2px;
    background-color: #4976ad;
    flex-basis: 100px;
    
}
label {
    font-size: 1.43rem;
}
#addItem {
    flex-basis: 600px;
    background-color: #49768c;
    border-radius: 7px;
    height: 3.2ch;
    color: black;
}